
<table class="tx-chapted" >
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_player.wins" />
		</td>
		<td>
			{player.wins}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_player.lose" />
		</td>
		<td>
			{player.lose}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_player.custom_color" />
		</td>
		<td>
			{player.customColor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_player.custom_profil" />
		</td>
		<td>
			{player.customProfil}
		</td>
	</tr>
</table>