
<label for="media">
	<f:translate key="tx_chapted_domain_model_move.media" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="description">
	<f:translate key="tx_chapted_domain_model_move.description" />
</label><br />
	<f:form.textarea class="form-control" property="description" cols="40" rows="15" /><br />
<label for="point">
	<f:translate key="tx_chapted_domain_model_move.point" />
</label><br />
	<f:form.textfield class="form-control" property="point" /><br />
<label for="field">
	<f:translate key="tx_chapted_domain_model_move.field" />
</label><br />
	<f:form.textfield class="form-control" property="field" /><br />
<label for="likeMove">
	<f:translate key="tx_chapted_domain_model_move.like_move" />
</label><br />
	<f:form.textfield class="form-control" property="likeMove" /><br />