
<table class="tx-chapted" >
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_move.media" />
		</td>
		<td>
			{move.media.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_move.description" />
		</td>
		<td>
			{move.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_move.point" />
		</td>
		<td>
			{move.point}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_move.field" />
		</td>
		<td>
			{move.field}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chapted_domain_model_move.like_move" />
		</td>
		<td>
			{move.likeMove}
		</td>
	</tr>
</table>