<label for="title">
    <f:translate key="tx_chapted_domain_model_challenge.title"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield class="form-control" property="title"/><br/>
<label for="description">
    <f:translate key="tx_chapted_domain_model_challenge.description"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textarea class="form-control" cols="40" property="description" rows="15"/><br/>
<label for="reckoning">
    <f:translate key="tx_chapted_domain_model_challenge.reckoning"/>
</label><br/>
<f:form.textfield type="number" class="form-control" property="reckoning"/><br/>
<label for="likes">
    <f:translate key="tx_chapted_domain_model_challenge.likes"/>
</label><br/>
<f:form.textfield type="number" class="form-control" property="likes"/><br/>
<label for="winningPoint">
    <f:translate key="tx_chapted_domain_model_challenge.winning_point"/>
</label><br/>
<f:form.textfield type="number" class="form-control" property="winningPoint"/><br/>
<label for="latitude">
    <f:translate key="tx_chapted_domain_model_challenge.latitude"/>
</label><br/>
<f:form.textfield type="number" additionalAttributes="{step:'0.01'}"   class="form-control" property="latitude"/><br/>
<label for="longitude">
    <f:translate key="tx_chapted_domain_model_challenge.longitude"/>
</label><br/>
<f:form.textfield type="number" additionalAttributes="{step:'0.01'}"  class="form-control" property="longitude"/><br/>