<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-chapted">
    <tr>
        <td>
            <f:translate key="tx_chapted_domain_model_challenge.title"/>
        </td>
        <td>
            {challenge.title}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_chapted_domain_model_challenge.description"/>
        </td>
        <td>
            {challenge.description}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_chapted_domain_model_challenge.reckoning"/>
        </td>
        <td>
            {challenge.reckoning}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_chapted_domain_model_challenge.likes"/>
        </td>
        <td>
            {challenge.likes}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_chapted_domain_model_challenge.winning_point"/>
        </td>
        <td>
            {challenge.winningPoint}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_chapted_domain_model_challenge.qr_code"/>
        </td>
        <td>
            {challenge.qrCode}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_chapted_domain_model_challenge.latitude"/>
        </td>
        <td>
            {challenge.latitude}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_chapted_domain_model_challenge.longitude"/>
        </td>
        <td>
            {challenge.longitude}
        </td>
    </tr>
</table>
</html>