
<label for="wins">
	<f:translate key="tx_chapted_domain_model_player.wins" />
</label><br />
	<f:form.textfield class="form-control" property="wins" /><br />
<label for="lose">
	<f:translate key="tx_chapted_domain_model_player.lose" />
</label><br />
	<f:form.textfield class="form-control" property="lose" /><br />
<label for="customColor">
	<f:translate key="tx_chapted_domain_model_player.custom_color" />
</label><br />
	<f:form.textfield class="form-control" property="customColor" /><br />
<label for="customProfil">
	<f:translate key="tx_chapted_domain_model_player.custom_profil" />
</label><br />
	<f:form.textfield class="form-control" property="customProfil" /><br />